.form {
  width: 600px;
  margin: 0 auto;
  overflow-x: hidden;
}

.form .ant-btn {
  margin-right: 8px;
}

.form .ant-btn:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 640px) {
  .form {
    width: 100%;
  }
}
